fastapi
uvicorn

python-dotenv
python-multipart

pydantic

langchain
langchain-core
langchain-text-splitters

langchain-google-genai
langchain-groq
langchain-chroma

chromadb

google-genai
groq

pdfplumber
pdfminer.six
PyMuPDF
pypdf

Pillow

requests
tenacity
